/* Start Globalization */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  overflow-x: hidden;
}

/* End Globalization */
/* Start Variables */
:root {
  --mont-font: "Montserrat", sans-serif;
  --grand-font: "Grand Hotel", sans-serif;
}
.mont-font {
  font-family: var(--mont-font);
}
.grand-font {
  font-family: var(--grand-font);
}
.yellow-color-txt {
  color: #ffc200 !important;
}
.left-0 {
  left: 0 !important;
}
.right-0 {
  right: 0 !important;
}
/* End Variables */

/* Start Template Design */
/* Start modal Styling */
.site-pauser{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(53, 48, 48, 0.856);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.modal-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 12px;
}
.modal-footer{
  height: calc( (0.5 * 100vh) - 140px);
}
.modal-footer .btn-primary{
  background-color: #ffc200!important;
  border: none;
  color: #2f2f2f;
  font-weight: 600;
}
.modal-footer .btn-secondary{
  border: none;
  background-color: #2f2f2f;
  color: #ffc200;
}
.modal-footer .btn {
  transition: 0.2s;
  padding: 15px;
}
  .modal-footer .btn:hover {
  opacity: 0.8;

}
/* End modal Styling */
/* Start Nav */
nav {
  color: #fff;
  position: relative;
  z-index: 1;
}
.nav-link {
  color: #fff;
  font-size: 1.2rem;
  font-family: var(--mont-font);
  transition: color 0.2s;
}
.active,.nav-link:hover{
  color: #ffc400bd !important;
}
/* Start custom navbar */
.custom-navbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f2f2f;
  z-index: 2;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.navbar-header{
  right: 20px;
  color: #ffc200;
  cursor: pointer;
}
.custom-navbar ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 10px;
}
.navbar-toggler:hover,.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0px 0px 10px #ffc200 !important;
}
/* End custom navbar */
/* End Nav */
/* Start Header */
header {
  background-color: #2f2f2f;
  height: 100vh;
}
.header-content img .position-absolute {
  z-index: -2;
}
header p,
header h1 {
  /* z-index: 1; */
  position: relative;
}
header h1 {
  font-size: 4rem;
}
header p {
  font-size: 1.5rem;
}
.text-wrapper {
  height: calc(100vh - 86px);
}
.landing-header{
  overflow: hidden !important;
}
.landing-pizza {
  overflow: hidden;
}
/* End Header */

/* Start Best Seller Section */
.hos {
  font-size: 6rem;
  color: #333333;
}
.hos ~ p {
  color: #333333;
  font-size: 1.3rem;
}
.best-seller-circ {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.best-seller .best-seller-circ h1,
.best-seller .best-seller-circ p {
  color: #333333;
}
.circ-image-holder{
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.circ-image-holder:hover  img{
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;

}
/* End Best Seller Section */

/* Start Order Section */
.order-now-btn {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
  background-color: #ffc200;
  border-color: transparent;
  transition: margin 0.2s;
  margin: 0;
}
.order-now-btn:hover {
  border-color: #ffc200;
  color: #ffc200;
  background-color: #fff;
  margin: 0 0 0 10px;
}
/* End Order Section */

/* Start Order */
.section-trick-2 {
  z-index: -1;
  top: -150px;
  left: 0;
  transform: rotate(180deg);
}
.order::after {
  position: absolute;
  content: "";
  background: url(../images/sec-trick.png) no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  z-index: -1;
}
.order::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  bottom: -50px;
  background-color: #2f2f2f;
}
/* End Order */
/* Start Statistics */
.statistics {
  background-color: #2f2f2f;
  /* padding-bottom: 200px; */
}
.statistics img {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.border-1 {
  border: 5px solid #fff;
  aspect-ratio: 1;
}
/* End Statistics */

/* Start Order Last */
.order-last {
  padding-top: 50px;
  background: url(../images/sec-trick.png) no-repeat center top;
  background-size: cover;
}
/* End Order Last */

/* Start yellow-sec */
.yellow-section {
  padding-top: 200px;
  margin-top: 200px;
  background: url(../images/lorem-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.yellow-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc200;
  opacity: 0.8;
  top: 0;
  left: 0;
}
.yellow-section .text-wrapper {
  position: relative;
  z-index: 1;
  height: auto !important;
}
/* End yellow-sec */
/* Start Subscribe */
.subscribe {
  background-color: #f4f4f4;
  background-image: url(../images/section-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe form {
  display: flex;
  justify-content: center;
}
.subscribe form input#email {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
}
.subscribe form input:focus::selection {
  background-color: #2f2f2f91;
}
.subscribe form input#email::placeholder {
  font-size: 14px;
  color: #333333;
  opacity: 0.5;
}
.subscribe form input[type="submit"] {
  background: linear-gradient(to right, #ffc200, #ffc200);
  color: #2f2f2f;
  border-radius: 0 4px 4px 0;
  transition: all 0.5s ease-in-out;
}
.subscribe form input[type="submit"]:hover {
  background: linear-gradient(to left, #2f2f2f, #2f2f2f);
  transition: all 0.5s ease-in-out;
  color: #ffc200;
}
/* End Subscribe */
/* Start Footer */
.footer-list-icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #333333;
}
footer ul > li:hover {
  color: #ffc200;
  cursor: pointer;
}
.footer-list-icon:hover{
  background-color: #ffc4009a;
  cursor: pointer;
}
/* End Footer */

/* End Template Design */
/* BootStrap Default Breakpoints */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .order-now-btn {
    width: 100% !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
/* Added exchanged max to min to align center text */
@media (max-width: 768px) {
  header .row .col-lg-6 .text-wrapper p {
    text-align: center;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .landing-pizza {
    width: 65%;
    max-height: 100vh;
  }
}
@media screen and (min-width: 1540px) {
  img.position-absolute.top-0.left-0.d-none.d-lg-block.real-pizza {
    width: 1300px;
    height: 100vh;
    object-fit: cover;
  }
}
